*, *::before, *::after {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    width: 100%;
}

.wrapper {
    margin: 40px;
    width: calc(min(100%, 700px));
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 2px solid red;
    border-radius: 5px;;
}


h1 {
    font-size: 3em;
    margin: 20px;
}

form {
    width: calc(min(90%, 500px));
    overflow: hidden;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-wrapper {
    position: relative;
    width: 100%;

    & input {
        width: 100%;
        height: 100%;
        border: none;
        padding: 20px 10px 10px 10px;
        font-size: 1.3em;
        color: #777;
        background-color: #f2f2f2;

        &:focus,
        &:valid {
            outline: none;

            & + label span {
                top: -15px;
                color: red;
            }

            & + label::after {
                left: 0;
            }
        }
    }

    & label {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        color: #777;
        border-bottom: 2px solid #333;


        & span {
            position: absolute;
            left: 10px;
            top: 10px;
            font-size: 1.6em;

            padding: 5px 10px;
            background-color: #f2f2f2;

            transition: all 600ms cubic-bezier(1, 0.2, 0.2, 1);
        }

        &::after {
            content: '';
            position: absolute;
            width: 101%;
            height: 100%;
            bottom: -4px;
            left: -101%;
            border-bottom: 4px solid red;

            transition: all 700ms cubic-bezier(1, 0.3, 0.3, 1);
        }
    }
}

button {
    padding: 10px 30px;
    margin: 10px auto;
    font-size: 1.6em;
}


label {
    width: 100%;
    height: 100%;
    border-bottom: 2px solid black;
}

.err {
    color: red;
}

.pokemon {
    text-transform: capitalize;
    font-size: 2.4em;
}

.info {
    display: flex;
}

img {
    width: 300px;
    border: 2px solid #333;
    border-radius: 4px;
    margin: 20px 40px;
}

.pokemon__moves {
    font-size: 2.1em;
    margin: 10px;

    &__item {
        color: #333;
        font-size: 1.4em;
        text-transform: capitalize;
    }
}